/* Design of Website and basic css */

.specialCol{
width: 0.5vw;
padding-right: none;
padding-right: 0;
}
.specialColTwo{
    width: 7vw;
    padding-right: none;
}
.specialRowOne{
  height: 1vh;
}
.specialRowTwo{
  height: 3vh;
}
.height{
  height: 16.5vh;
  width: 100vw;
}
.navFloat{
  float:left;
  padding:none
}
.special{
    position: absolute;
    height: 49.5%;
    right: 0;
}
.testing{
    font-size: 160%;
}
.middle{
  text-align: center;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.leftNav{
}
.threeFourthColumn{
  height: 12.375vh;
}
.oneFourthColumn{
  height: 4.125vh;
}
/* COOL BUTTON!!! */
.buttons {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  height: 65px;
  width: 55px;
}
.customRow{
padding: 0.5vw;
padding-right: 1vw;
}
.bitchCols{
  min-width: 10px;
}
.smallerCol{
  width: 2vw;
}
.largerCol{
  width: 25vw;
}
.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  width: 60px;
  height: 60px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  border-radius: 0;
background-repeat: no-repeat;
}
.btn:hover {
  text-decoration: none;
}
.effect04 {
  --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
  color: #000;
  outline: solid  2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  display: block;
 margin-left: auto;
 margin-right: auto;
}
#Twitter{
background-image: url('../img/twitter-logo-b.png');
height: 3.25vw;
width: 3.25vw;
background-size: 8vw 8vw;
animation: slideToLeft 1s ease;
}
#Twitter:hover{
  background-image: url('../img/twitter-logo.png');
  height: 3.25vw;
  width: 3.25vw;
  background-size: 8vw 8vw;
}
#Insta{
background-image: url('../img/instagram-logo-b.png');
height: 3.25vw;
width: 3.25vw;
background-size: 8vw 8vw;
animation: slideToLeft 1.25s ease;
}
#Insta:hover{
background-image: url('../img/instagram-logo.png');
height: 3.25vw;
width: 3.25vw;
background-size: 8vw 8vw;
}
#Mail{
background-image: url('../img/gmail-logo-b.png');
height: 3.25vw;
width: 3.25vw;
background-size: 8vw 8vw;
animation: slideToLeft 1.5s ease;
}
#Mail:hover{
background-image: url('../img/gmail-logo.png');
height: 3.25vw;
width: 3.25vw;
background-size: 8vw 8vw;
}
.colSize{
  width: 11vw;
}
.effect04::before,
.effect04 span{
    margin: 0 auto;
	transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	transition-duration: 0.4s;
}
.effect04:hover{
  background-color: #000;
}
.effect04:hover span{
  -webkit-transform: translateY(-400%) scale(-0.1,20);
          transform: translateY(-400%) scale(-0.1,20);
}
.effect04::before{
  content: attr(data-sm-link-text);
	color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1,20);
          transform: translateY(500%) scale(-0.1,20);
}
.effect04:hover::before{
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1,1);
          transform: translateY(0) scale(1,1);
}
.socialClass{
  width: 3vw;
  height: 3vh;
}
.borderRow{
background-image: url('../img/dark.png')
}
.borderRowHeight{
  height: 6vh;
}
.newbackground{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
}
.backgroundIMG{
  background: url('../img/dark.png');
    animation: backgroundScroll 40s linear infinite;
    margin: none;
    padding: none;
    background-size: 25%;
}
.gapColOne{
  height:10vw;
  padding: none;
}


.gapColTwo{
  height:25vw;
    padding: none;
}
.oneHeight{
  height: 1.5vh;
}
.backgroundIMG2{
  background: url('../img/vichy.png');
    animation: backgroundScroll2 40s linear infinite;
    margin: none;
    padding: none;
}
