/* Simple Styles and Fonts, No structure Css*/

/* .row * {
  background-color: lightblue;
  border: 1px solid darkblue;
} */
html {
  scroll-behavior: smooth;
}

a {
  color: none;
  text-decoration: none;
}

a:link {
  color: none;
  text-decoration: none;
}
a:visited {
  color: none;
  text-decoration: none;
}
a:hover {
  color: none;
  text-decoration: none;
}
a:active {
  color: none;
  text-decoration: none;

}
body{
   overflow-x: hidden;
}
.logoName{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5vw;
  align-items: center;
}

div {
  background-color: none;
  background-image: none;
  padding: 0;
}
svg{
  padding: none;
}
.background {
  background-color: #ffffff;
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 7vw;
  align-items: center;
}
.topHeight{
  height:4vh;
  width: 100vw;
}
#sixRow{
  height: 12.25vh;
}
.sideBar{
font-family: 'Cantata One', serif;
  font-size: 4vw;
}
.boldText{
  font-family: 'Abril Fatface', cursive;
  font-size: 5vw;
  color: black;
}
.borderRowBot{
     height: 4vh;
    background-size: 400% 400%;
}
.headerAbout{
font-size: 6vw;
color: #fff;
font-family: 'Megrim', cursive;

}
.textAbout{
  font-size: 1.8vw;
  color: white;
  font-family: 'Roboto Serif', serif;
}
.textAboutOther{
  font-size: 2vw;
  color: black;
  font-family: 'Roboto Serif', serif;
}
.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #000,
      0 0 82px #000,
      0 0 92px #000,
      0 0 102px #000,
      0 0 151px #000;
}
