/* Simple Styles and Fonts, No structure Css*/

/* .row * {
  background-color: lightblue;
  border: 1px solid darkblue;
} */
html {
  scroll-behavior: smooth;
}

a {
  color: none;
  text-decoration: none;
}

a:link {
  color: none;
  text-decoration: none;
}
a:visited {
  color: none;
  text-decoration: none;
}
a:hover {
  color: none;
  text-decoration: none;
}
a:active {
  color: none;
  text-decoration: none;

}
body{
   overflow-x: hidden;
}
.logoName{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5vw;
  align-items: center;
}

div {
  background-color: none;
  background-image: none;
  padding: 0;
}
svg{
  padding: none;
}
.background {
  background-color: #ffffff;
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 7vw;
  align-items: center;
}
.topHeight{
  height:4vh;
  width: 100vw;
}
#sixRow{
  height: 12.25vh;
}
.sideBar{
font-family: 'Cantata One', serif;
  font-size: 4vw;
}
.boldText{
  font-family: 'Abril Fatface', cursive;
  font-size: 5vw;
  color: black;
  display: inline-block;

}
.frontName{
  float: right;
  align: right;
}
.largeInCharge{
  font-size: 12vw;
  color: #f41d0c;
  font-family: 'Abril Fatface', cursive;
    display: block;

}
.largeInCharge2{
  font-size: 8vw;
  color: #ff5e00;
  font-family: 'Abril Fatface', cursive;
    display: block;

}
.interestText{
  font-size: 9vw;
  color: black;
  font-family: 'Abril Fatface', cursive;
}
.interestTextBox{
  Background-color: #ff5e00;
}
.text-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f41d0c;
  color: black;
}
.text-box2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffbb00;
  color: black;
}
.largeInCharge:nth-child(2) {
  position: absolute;
  background-color: #f41d0c;
  color: black;
border: 1px;
}
.largeInCharge2:nth-child(2) {
  position: absolute;
  background-color: #ffbb00;
  color: black;
border: 1px;
}
.interestRowHeight{
  height: 20vw;
}

.aboutText{
  height: 38vw;
}
.aboutText2{
  background-color: #ebebeb;
}
.aboutMeText{
  font-size: 2vw;
font-family: 'Montserrat', sans-serif;
}
.qualHeight{
  height: 4vw;
}
.checkMarkSide{
  width: 12vw;
}
.checkMarkText{
  font-family: 'Montserrat', sans-serif;
font-size: 3vw;
}
