/* Simple Styles and Fonts, No structure Css*/

/* .row * {
  background-color: lightblue;
  border: 1px solid darkblue;
} */
a {
  color: none;
  text-decoration: none;
}

a:link {
  color: none;
  text-decoration: none;
}
a:visited {
  color: none;
  text-decoration: none;
}
a:hover {
  color: none;
  text-decoration: none;
}
a:active {
  color: none;
  text-decoration: none;

}
body{
   overflow-x: hidden;
   background-image: url('../img/doodles.png');
}
.logoName{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 2.5vw;
  transition-duration: 0.25s;
}
div {
  background-color: none;
  background-image: none;
  padding: 0;
}
svg{
  padding: none;
}
.background {
  background-color: #ffffff;
  animation-name: color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  width: 7vw;
  align-items: center;
}
.topHeight{
  height:4vh;
  width: 100vw;
}
#sixRow{
  height: 12.25vh;
}
.sideBar{
font-family: 'Megrim', cursive;
  font-size: 4vw;
}
.boldText{
  font-family: 'Abril Fatface', cursive;
  font-size: 5vw;
  color: black;
}
